https://youtu.be/F6kmIpWWEdU

In [6]:
import pandas as pd
df = pd.read_csv("F:\\Jupyter_notebook\\csv_xlxs_File\\weather_data.csv")
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [4]:
df[1:3]

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow

In [6]:
df.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [8]:
df.day

0    1/1/2017
1    1/2/2017
2    1/3/2017
3    1/4/2017
4    1/5/2017
5    1/6/2017
Name: day, dtype: object

In [15]:
df['day']

0    1/1/2017
1    1/2/2017
2    1/3/2017
3    1/4/2017
4    1/5/2017
5    1/6/2017
Name: day, dtype: object

In [11]:
type(df['day'])    #type of column is defined as pandas.core.series.Series here

pandas.core.series.Series

In [14]:
df[['day','temperature']]

        day  temperature
0  1/1/2017           32
1  1/2/2017           35
2  1/3/2017           28
3  1/4/2017           24
4  1/5/2017           32
5  1/6/2017           31

In [17]:
df['temperature'].max()

35

In [19]:
df[df['temperature']>32]

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny

In [20]:
df['day'][df['temperature'] == df['temperature'].max()] # Kinda doing SQL in pandas

1    1/2/2017
Name: day, dtype: object

In [22]:
df[df['temperature'] == df['temperature'].max()] # Kinda doing SQL in pandas

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny

In [24]:
df['temperature'].std()   #standard deviation

3.8297084310253524

In [47]:
df.describe() # it give mean,st.deviation,max,etc

       temperature  windspeed
count     6.000000   6.000000
mean     30.333333   4.666667
std       3.829708   2.338090
min      24.000000   2.000000
25%      28.750000   2.500000
50%      31.500000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000

SET_INDEX

In [49]:
#df.index

In [12]:
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [37]:
df.set_index('day')
# here we set set DAY as index ,it jst make a new copy of original set

          level_0  index  temperature  windspeed  event
day
1/1/2017        0      0           32          6   Rain
1/2/2017        1      1           35          7  Sunny
1/3/2017        2      2           28          2   Snow
1/4/2017        3      3           24          7   Snow
1/5/2017        4      4           32          4   Rain
1/6/2017        5      5           31          2  Sunny

In [56]:
df   # original data set

        day  level_0  index  temperature  windspeed  event
0  1/1/2017        0      0           32          6   Rain
1  1/2/2017        1      1           35          7  Sunny
2  1/3/2017        2      2           28          2   Snow
3  1/4/2017        3      3           24          7   Snow
4  1/5/2017        4      4           32          4   Rain
5  1/6/2017        5      5           31          2  Sunny

In [58]:
df.set_index('day', inplace=True)
#this coomand make changesin the originaldata set

In [59]:
df    # original data set

          level_0  index  temperature  windspeed  event
day
1/1/2017        0      0           32          6   Rain
1/2/2017        1      1           35          7  Sunny
1/3/2017        2      2           28          2   Snow
1/4/2017        3      3           24          7   Snow
1/5/2017        4      4           32          4   Rain
1/6/2017        5      5           31          2  Sunny

In [60]:
df

          level_0  index  temperature  windspeed  event
day
1/1/2017        0      0           32          6   Rain
1/2/2017        1      1           35          7  Sunny
1/3/2017        2      2           28          2   Snow
1/4/2017        3      3           24          7   Snow
1/5/2017        4      4           32          4   Rain
1/6/2017        5      5           31          2  Sunny

In [61]:
df.reset_index(inplace=True) #this chnages the changes in original dat set set n return back the original data set

In [62]:
df

        day  level_0  index  temperature  windspeed  event
0  1/1/2017        0      0           32          6   Rain
1  1/2/2017        1      1           35          7  Sunny
2  1/3/2017        2      2           28          2   Snow
3  1/4/2017        3      3           24          7   Snow
4  1/5/2017        4      4           32          4   Rain
5  1/6/2017        5      5           31          2  Sunny

In [63]:
df.set_index('event',inplace=True) # this is kind of building a hash map using event as a key

In [65]:
df

            day  level_0  index  temperature  windspeed
event
Rain   1/1/2017        0      0           32          6
Sunny  1/2/2017        1      1           35          7
Snow   1/3/2017        2      2           28          2
Snow   1/4/2017        3      3           24          7
Rain   1/5/2017        4      4           32          4
Sunny  1/6/2017        5      5           31          2

In [67]:
df.loc['Snow']

            day  level_0  index  temperature  windspeed
event
Snow   1/3/2017        2      2           28          2
Snow   1/4/2017        3      3           24          7