https://github.com/codebasics/py/tree/master/ML/9_decision_tree

https://youtu.be/PHxYNGo8NcI

Decision Tree Classification

In [1]:
import pandas as pd
df = pd.read_csv('F:\\Jupyter_notebook\\csv_xlxs_File\\salaries.csv')
df.head()

  company                  job     degree  salary_more_then_100k
0  google      sales executive  bachelors                      0
1  google      sales executive    masters                      0
2  google     business manager  bachelors                      1
3  google     business manager    masters                      1
4  google  computer programmer  bachelors                      0

In [6]:
inputs=df.drop('salary_more_then_100k', axis='columns')
inputs

       company                  job     degree
0       google      sales executive  bachelors
1       google      sales executive    masters
2       google     business manager  bachelors
3       google     business manager    masters
4       google  computer programmer  bachelors
5       google  computer programmer    masters
6   abc pharma      sales executive    masters
7   abc pharma  computer programmer  bachelors
8   abc pharma     business manager  bachelors
9   abc pharma     business manager    masters
10    facebook      sales executive  bachelors
11    facebook      sales executive    masters
12    facebook     business manager  bachelors
13    facebook     business manager    masters
14    facebook  computer programmer  bachelors
15    facebook  computer programmer    masters

In [7]:
target=df.salary_more_then_100k

In [8]:
target

0     0
1     0
2     1
3     1
4     0
5     1
6     0
7     0
8     0
9     1
10    1
11    1
12    1
13    1
14    1
15    1
Name: salary_more_then_100k, dtype: int64

In [9]:

from sklearn.preprocessing import LabelEncoder
labelencoder=LabelEncoder()

inputs['company']=labelencoder.fit_transform(inputs['company'])
inputs['degree']=labelencoder.fit_transform(inputs['degree'])
inputs['job']=labelencoder.fit_transform(inputs['job'])

In [10]:
inputs

    company  job  degree
0         2    2       0
1         2    2       1
2         2    0       0
3         2    0       1
4         2    1       0
5         2    1       1
6         0    2       1
7         0    1       0
8         0    0       0
9         0    0       1
10        1    2       0
11        1    2       1
12        1    0       0
13        1    0       1
14        1    1       0
15        1    1       1

In [11]:

from sklearn import tree
model = tree.DecisionTreeClassifier()

In [13]:
model.fit(inputs, target)

DecisionTreeClassifier()

In [14]:
model.score(inputs,target)

1.0

In [15]:
#Is salary of Google, Computer Engineer, Bachelors degree > 100 k ?


model.predict([[2,1,0]])

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([0], dtype=int64)

In [16]:
#Is salary of Google, Computer Engineer, Masters degree > 100 k ?


model.predict([[2,1,1]])

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([1], dtype=int64)

In [ ]:
this also conatin a exercise ------->9_decision_tree_exercise