https://github.com/krishnaik06/Machine-Learning-Algorithms-Materials/blob/main/Deicsion%20Tree%20Regression%20And%20Cross%20Validation.ipynb
    
    
    https://www.youtube.com/watch?v=ATnZmBxIvmQ&list=PLTDARY42LDV7WGmlzZtY-w9pemyPrKNUZ&index=24

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
##Boston House Pricing Dataset
from sklearn.datasets import load_boston
boston_df=load_boston()

/home/ujjwal/anaconda3/lib/python3.9/site-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function load_boston is deprecated; `load_boston` is deprecated in 1.0 and will be removed in 1.2.

    The Boston housing prices dataset has an ethical problem. You can refer to
    the documentation of this function for further details.

    The scikit-learn maintainers therefore strongly discourage the use of this
    dataset unless the purpose of the code is to study and educate about
    ethical issues in data science and machine learning.

    In this special case, you can fetch the dataset from the original
    source::

        import pandas as pd
        import numpy as np


        data_url = "http://lib.stat.cmu.edu/datasets/boston"
        raw_df = pd.read_csv(data_url, sep="\s+", skiprows=22, header=None)
        data = np.hstack([raw_df.values[::2, :], raw_df.values[1::2, :2]])
        target = raw_df.values[1::2, 2]

    Alternative datasets include the California housing dataset (i.e.
    :func:`~sklearn.datasets.fetch_california_housing`) and the Ames housing
    dataset. You can load the datasets as follows::

        from sklearn.datasets import fetch_california_housing
        housing = fetch_california_housing()

    for the California housing dataset and::

        from sklearn.datasets import fetch_openml
        housing = fetch_openml(name="house_prices", as_frame=True)

    for the Ames housing dataset.

  warnings.warn(msg, category=FutureWarning)

In [3]:
dir(boston_df)

['DESCR', 'data', 'data_module', 'feature_names', 'filename', 'target']

In [4]:
boston_df.data_module

'sklearn.datasets.data'

In [5]:
#independent features
X=pd.DataFrame(boston_df.data,columns=boston_df.feature_names)
#dependent features
y=boston_df.target

In [6]:
X.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [7]:
### train test split
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(
     X, y, test_size=0.33, random_state=42)

In [8]:
from sklearn.tree import DecisionTreeRegressor
regressor=DecisionTreeRegressor()

In [9]:
regressor.fit(X_train,y_train)

DecisionTreeRegressor()

In [10]:
y_pred=regressor.predict(X_test)
y_pred

array([22.2, 28. ,  8.1, 24.7, 15. , 21.6, 19. , 17.8, 21.4, 20.1, 19. ,
       19. ,  7.2, 21.1, 16.2, 22. , 20.5,  8.8, 42.3, 14.6, 24.7, 24.4,
       13.6, 20.6, 16.7, 14.9, 22.6, 11.8, 19. , 22.7, 19.8, 22.9, 36.5,
       15.3, 14.4, 13.8, 32.7, 19. , 22.4, 24.1, 19.4, 36.1, 35.2, 19.3,
       22. , 11. , 14.8, 24.7, 23.2, 24.5, 18.5, 35.1, 14.8, 30.1, 43.1,
       20.7, 17.8, 37.3, 22.9, 22.5, 27.5, 29. , 29.4, 18.2, 30.5, 14.4,
       12.1, 22.9, 32.5, 14.4, 22.6, 22.8,  8.4, 18.6, 20.7,  6.3, 19.8,
       35.2, 10.2, 13.1, 22. , 16.3, 17.5,  8.8, 20.3, 25.1, 15.2, 23. ,
       23. , 18. , 22.2,  7.2, 19.8, 17.5, 22.9, 19.8, 50. , 16.3, 11.8,
       16.3, 17.5, 21.1, 14.6, 20.4, 23.5, 13.5, 20.4, 24.8, 19. , 21.9,
        8.4, 16.3, 22.2, 22.2, 31.5, 16.7, 50. , 14.8, 16.2, 23.7, 16.2,
       24.7,  8.3, 18.5, 24.7, 22.9, 23.3, 37.2, 18.3, 46. , 15.4, 25. ,
       18.2, 21.7, 13.1, 21.7, 19.8, 24.8, 24.5, 14.8, 21.7, 23.7, 19.6,
       14.4,  5.6, 18.9, 13.8, 14.6, 13.6, 44.8, 14.1, 17.8, 23. , 18.5,
       16.2, 22.9, 14.9, 22.9, 36.2,  8.3, 22.2, 26.4, 20.4, 22.9, 16.2,
       22.8, 37.6])

In [11]:
from sklearn.metrics import r2_score
score=r2_score(y_pred,y_test)

In [12]:
score

0.7271729272966285

In [13]:
## Hyperparameter Tunning
parameter={
 'criterion':['squared_error','friedman_mse','absolute_error','poisson'],
  'splitter':['best','random'],
  'max_depth':[1,2,3,4,5,6,7,8,10,11,12],
  'max_features':['auto', 'sqrt', 'log2']
    
}
regressor=DecisionTreeRegressor()

In [14]:
#https://scikit-learn.org/stable/modules/model_evaluation.html
from sklearn.model_selection import GridSearchCV
regressorcv=GridSearchCV(regressor,param_grid=parameter,cv=5,scoring='neg_mean_squared_error')
##mainly see here, the use of cv,(cross validataion)

In [15]:
regressorcv.fit(X_train,y_train)

GridSearchCV(cv=5, estimator=DecisionTreeRegressor(),
             param_grid={'criterion': ['squared_error', 'friedman_mse',
                                       'absolute_error', 'poisson'],
                         'max_depth': [1, 2, 3, 4, 5, 6, 7, 8, 10, 11, 12],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'splitter': ['best', 'random']},
             scoring='neg_mean_squared_error')

In [17]:
regressorcv.best_params_

{'criterion': 'friedman_mse',
 'max_depth': 5,
 'max_features': 'auto',
 'splitter': 'random'}

In [18]:
y_pred=regressorcv.predict(X_test)

In [19]:
r2_score(y_pred,y_test)

0.5620588104083555